@import '~/node_modules/bootstrap/scss/bootstrap.scss';


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .main_grid{
    background-color: #1E2D3B;
    ;
  }

  .bg_color_dark_side{
    background-color: #2E3A46;
  }


